/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 *= require bootstrap/dist/css/bootstrap
 *= require paletaColores.css
 *= require font-awesome/css/font-awesome
 *= require_tree .
 */

 @import "materialize";

.fa.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}


.menupad{
  padding-left: 20px;
 }
.btn{
  background-color: #C9006E;
}

 .adaptarLogo{
    width: 17%;
    height: 300%;
    padding-bottom: 30px;

}
.adaptarAvatar{
    width: 50%;


}
 .adaptarImg{
    width: 10%;
    height: 10%;

}
.adaptarLogo2{
    width: 80%;
    height: 80%;

}


.morado-rosado{
	background-color:#870058;
}
.rosado-fuerte{
	background-color:#C9006E;
}
.gris-claro{
	background-color:#EEE2DF;
}
.morado-claro{
	background-color:#D7BCC8;
}
.cafe-claro{
	background-color:#D3AB9E;
}

.blanco{
	background-color:#FFFFFF;

}

.navbar-warning{
  border-top: 10px solid #870058!important;
 /* border-bottom: 1px solid #ddd!important; */
  height: 70px;
  box-shadow: 1px 1px 20px #888888;
}
.navbar-warning a{

  color:  #FFFFFF!important;

}
.navbar-warning a:hover {
    background-color: #870058!important;
}
.navbar-warning a:focus {
    background-color: #870058!important;
}
.navbar-warning a:active {
    background-color: #870058!important;
}
.navbar-warning a:visited {
    background-color: #870058!important;
}


.nav li ul {
background: none repeat scroll 0 0 #C9006E;
border-color: -moz-use-text-color #C3C3C3 #C3C3C3;
border-right: 1px solid #C3C3C3;
}


  .editable {
    height: 500px;
    margin: 20px;
    font-size: 20px;
    overflow: auto;
  }
  .editable2 {
    height: 542px;

    font-size: 20px;
    overflow: auto;
    border-bottom: 1px solid #C3C3C3;
    border-top: 1px solid #C3C3C3;
    border-right: 1px solid #C3C3C3;
    border-left: 1px solid #C3C3C3;

  }


  .alert-info {

    width: 20%!important;
  }
